.leftsec {
  background-color: turquoise;
  height: 80vh;
  border: 2px ridge black;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
.rightsec {
  background-color: blanchedalmond;
  height: 80vh;
  border: 2px ridge black;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
